#chartdiv1 {
  width: 100%;
  height: 500px;
}
#chartdiv2 {
  width: 100%;
  height: 550px;
}
#chartdiv3 {
  width: 100%;
  height: 350px;
}
#chartdiv4{
  width: 100%;
  height: 350px;
}
#chartdiv5{
  width: 100%;
  height: 350px;
}
#chartdiv6 {
  width: 100%;
  height:350px;
}
#chartdiv7 {
  width: 100%;
  height:350px;
}
#chartdiv8 {
  width: 100%;
  height:350px;
}
#chartdiv9 {
  width: 100%;
  height:350px;
}
#chartdiv10 {
  width: 100%;
  height:350px;
}
#chartdiv11 {
  width: 100%;
  height:350px;
}
#chartdiv12 {
  width: 100%;
  height:350px;
}